.section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("/assets/img1.jpg");
  height: 900px;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hometext {
  max-width: 800px;
  font-size: var(--xl-font);
  color: var(--white-bg);
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin: 10px 0;
}

.buttons button {
  padding: 12px 10px;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  background: var(--white-bg);
}

.buttons button a {
  color: var(--text-color);
}
.buttons button .link {
  margin-left: 3px;
}

.buttons button.active {
  background: none;

  border: 2px solid var(--white-bg);
  color: var(--white-bg);
}

.buttons button.active a {
  color: var(--white-bg);
}

@media (min-width: 768px) {
  .section {
    height: 100vh;
  }
}

@media (max-width: 300px) {
  .buttons {
    flex-direction: column-reverse;
  }
}
