* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  /* font-family: "Arial", "sans-serif"; */
}
:root {
  --bg-color: #f7f7f7;
  --text-color: black;
  --white-bg: #fff;
  /* --blue: rgb(34, 112, 138); */
  /* --blue: #2c2b2b; */
  --blue: #2e2e2e;
  --soft-text: #cecece;
  --xl-font: 5rem;
  --lg-font: 1.8rem;
}
body {
  overflow-x: hidden;
  background: var(--bg-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  :root {
    --xl-font: 2.5rem;
  }
}

@media (max-width: 300px) {
  :root {
    --xl-font: 1.9rem;
  }
}

.fixedbutton {
  position: fixed;
  bottom: 10px;
  right: 15px;
  background: var(--white-bg);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.msgbutton {
  font-size: 30px;
}
