* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Arial", "sans-serif";
}
:root {
  --bg-color: #f7f7f7;
  --text-color: black;
  --white-bg: #fff;
  /* --blue: rgb(34, 112, 138); */
  --blue: #06a1a1;
  --soft-text: #d3d3d3;
  --xl-font: 3rem;
  --lg-font: 1.8rem;
}
body {
  overflow-x: hidden;
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background: var(--white-bg);
  height: 130vh;
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  :root {
    --xl-font: 2.5rem;
  }
}
